* {
    text-align: right;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    color: aqua;
}
h2,p:hover {
    color: #A43741 ;
    text-align: center;
    border: 5px solid rgba(164, 55, 65,0.5);
    cursor: pointer;
    
}
h2 {
    color: #A43741 ;
    text-align: center;
    border: none;
    cursor: pointer;
    
}
h2 p {
    
    text-align: left;
    
    
}
h2>p {
    
    text-align: center;
    
    
}
p { 
    color: yellowgreen !important;
    
}
p,li {
    color: burlywood;
  
}

li {
    list-style: none;
    display: inline-block;
    
}

.webtext:last-child {
    border: 5px dashed green;
}

.active{
    color: red;
}

#div1
{
    background: rgba(0,0,255,0.2);
}
#div2
{
    background: rgba(255,0,0,0.2);
}